*{
    padding: 0;
    margin: 0 auto;
}
:root {
    --dark-: #000915;
    --dark-opacity: rgba(0, 9, 21, 0.25);
    --blue: #005FE4;
    --light-blue: #82B6FF;
    --lighter-blue: #E0EDFF;
    --white: #FFFFFF;
    --sky-blue: #247FFF;

}
.main__header {
    position: relative;
    z-index: 1;
    background-color: var(--dark-opacity);
    height: 80px;
    
}
.main__header_nav-bar_list li a{
    text-decoration: none;
    color: #EFF6FF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.main__header_nav-bar_list li{
    margin: 0;
    text-decoration: none;
}
.main__header_nav-bar_list{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly
}
.main__title{
    display: flex;
    align-items: center;
}
.main__title_text-color{
    color: #EFF6FF;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
    z-index: 1;
    margin: 247px 310px 327px 310px;
}

.main__title_text-color span:nth-child(2){
    color:#E0EDFF;
}
.main__title_text-color span:nth-child(3){
    color:#D0E4FF;
}
.main__title_text-color span:nth-child(4){
    color:#C0DAFF;
}
.main__title_text-color span:nth-child(5){
    color:#B1D1FF;
}
.main__background-image{
    background-image: url(./image/background-image/main__background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.main__getting-to-know{
    text-align: center;
    margin-top: 250px;
    
    
}
.main__getting-to-know_text{
    color: #001A3E;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 48px;
}
.main__getting-to-know_paragraph{
    color: #001A3E;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.main__getting-to-know_achievement{
    background: #EFF6FF;
    display: flex;
    align-items: center;
    height: 168px;
    margin-bottom: 160px;
}
.main__getting-to-know_achievement_text{
    color: #001A3E;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}
.main__getting-to-know_achievement_text-secondary{
    color: #001A3E;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.main__getting-to-know_achievement_box{
    display: flex;
    flex-direction: column;
}
.main__cooperate-companies_title-text{
    color: #001A3E;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 83px;
}
.main__cooperate-companies_title-text-blue{
    color: #0057D0;
}
.main__cooperate-companies_icons{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 168px;
}
.main__our-services_title-text{
    color: #001A3E;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}
.main__our-services{
    text-align: center;
}
.main__our-services_tabs{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 48px;
}
.main__our-services_tabs_under-line{
    border-radius: 10px;
    background: #D9D9D9;
    height: 4px;
    
}
.main__our-services_tabs div{
    margin: 0;
}
.main__our-services_tabs_icons{
    width: 54px;
    height: 54px;
}
.main__our-services_tabs-name{
    color: #000915;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}